:root {
    --primary: #F03A9E;
    --secondary: #4AF0C8;
    --tertiary: #4AF0C8;
    --fundo: #D0FFCF;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    margin: auto;
    padding-left: 15px !important;
}

p {
    margin: auto;
    padding-right: 15px !important;
}

a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: var(--fundo);
    transition: 1s;
    width: 100%;
}

main {
  padding: 20px;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.vendidos {
    margin-bottom: 35px;
}

.vendidos h1 {
    text-align: center;
    font-size: 38px;
    color: var(--primary);
    text-shadow: white 2px 1px;
    margin: 35px 0 25px 0
}

.titulo h1 {
    font-size: 100px;
    color: var(--tertiary);
}

.titulo-cardapio {
  margin-top: 100px;
  text-align: center;
}

.titulo-cardapio h1 {
    font-size: 40px;
    color: var(--primary);
    text-shadow: white 5px 1px 1px;
}

.titulo-cardapio h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #383838;
    text-shadow: white 5px 1px 1px;
}